﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wareblocks</title>
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Content/images/favicon.ico")" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700,800' rel='stylesheet' type='text/css' />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/theme/css")
    @RenderSection("scripts", required: false)
</head>
<body class="menubar-hoverable header-fixed">
    @RenderSection("OnBody", false)
    <div class="hidden">
        @if (User.Identity.IsAuthenticated)
        {
            <ul id="projectDropdown" class="dropdown-content">
                <li>@Ajax.ActionLink("Create A Project", "Create", "Project", null, new AjaxOptions { HttpMethod = "GET", OnSuccess = "$('#modal').openModal()", UpdateTargetId = "modal" })</li>
                <li class="divider"></li>
                @Html.Action("GetAll", "Project")
            </ul>
            <ul id="profileDropdown" class="dropdown-content">
                <li>@Html.ActionLink("Profile", "Profile", "Account")</li>
                <li class="divider"></li>
            </ul>
        }
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <header id="header">
            <div class="headerbar">
                <div class="headerbar-left">
                    <ul class="header-nav header-nav-options">
                        <li>
                            <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar">
                                <i class=" fa fa-bars">
                                </i>
                            </a>
                        </li>
                        <li class="header-nav-brand">
                            <div class="brand-holder">
                                <a href="@Url.Action("Index", "Home")">
                                    <img src="@Url.Content("~/Content/images/wblocks.svg")" alt="" style="width: 100px" />
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="headerbar-right">
                    <ul class="header-nav header-nav-options">
                        <li>
                            <form class="navbar-search" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="search" placeholder="Enter your keyword">
                                </div>
                                <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                        <li class="dropdown hidden-xs">
                            <a class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
                                <i class="fa fa-bell"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="header-nav header-nav-profile">
                        <li class="dropdown">
                            <a class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                                <img src="https://media.licdn.com/media/p/4/005/05f/081/2c0e156.jpg" alt="">
                                <span class="profile-info">
                                    @User.Identity.Name
                                    <small>Administrator</small>
                                </span>
                            </a>
                            <ul class="dropdown-menu animation-dock">
                                <li class="dropdown-header">Config</li>
                                <li><a href="http://www.codecovers.eu/materialadmin/pages/profile">My profile</a></li>
                                <li><a href="http://www.codecovers.eu/materialadmin/pages/blog/post"><span class="badge style-danger pull-right">16</span>My blog</a></li>
                                <li><a href="http://www.codecovers.eu/materialadmin/pages/calendar">My appointments</a></li>
                                <li class="divider"></li>
                                <li><a href="http://www.codecovers.eu/materialadmin/pages/locked"><i class="fa fa-fw fa-lock"></i> Lock</a></li>
                                <li><a id="logOut" href="#"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div id="base">
            <div class="offcanvas"></div>

            <div id="content">
                <section>
                    <div class="section-body">@RenderBody()</div>
                </section>
            </div>

            <div id="menubar" class="menubar-inverse animate">
                <div>
                    <div>
                        <div>
                        </div>
                        <div class="expanded">
                        </div>
                    </div>
                    <div class="menubar-scroll-panel">
                        <ul id="main-menu" class="gui-controls gui-controls-tree">
                            <li>
                                <a href="#" class="active">
                                    <div class="gui-icon"><i class="fa fa-home"></i></div>
                                    <span class="title">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="gui-icon"><i class="fa fa-dashboard"></i></div>
                                    <span class="title">Projects</span>
                                </a>
                                <ul>
                                    @Html.Action("GetAll", "Project")
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="offcanvas">
                </div>
            </div>
        </div>

        <div id="modal" class="modal white"></div>

        using (Html.BeginForm("LogOff", "Account", null, FormMethod.Post, new { @id = "logOutForm" }))
        {
            @Html.AntiForgeryToken()
        }
    }
    <div id="loader" style="display:none" class="loader">
        <svg class="circular">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
</body>
</html>
@Scripts.Render("~/Scripts/materialbase")
@Scripts.Render("~/Scripts/materialapp")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryajax")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/scroll")
<script src="https://malsup.github.io/jquery.blockUI.js"></script>
<script>

    $(document).ready(function () {
        $('#logOut').on('click', function (e) {
            $('#logOutForm').submit();
            e.preventDefault();
        });
        $.blockUI.defaults.css = {
            padding: 0,
            margin: 0,
            width: '30%',
            top: '40%',
            left: '35%',
            textAlign: 'center',
            cursor: 'wait'
        };
        $(document).ajaxStart(function () {
            $.blockUI({
                message: $('#loader'),
                overlayCSS: { backgroundColor: '#FFFFFF', opacity: 0.0 }
            });
        });
        $(document).ajaxStop(function () { $.unblockUI(); });
    });
</script>