﻿@model WareblocksWebUI.Models.Comment.CommentViewModel

@{
    Layout = null;
}

<div>
    <h4>Comments</h4>
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <div>
                <div>
                    <p>@comment.Content</p>
                </div>
            </div>
        }
    </ul>
</div>