﻿@model WareblocksWebUI.Models.Comment.CommentModel

@{
    Layout = null;
}

<div calss ="row">
    @using (Html.BeginForm("AddComment", "Comment", FormMethod.Post, new {@class = "col s12"}))
    {
        @Html.AntiForgeryToken()
        
        <h4>Add new comment</h4>    
        <hr/>
        
        @Html.ValidationSummary()

        <div class="row">
            <div class="input-field col s6">
                @Html.TextAreaFor(c => c.Content, new { @class = "validate" })
                @Html.LabelFor(c => c.Content)
            </div>
        </div>
    }
</div>