﻿@model WareblocksWebUI.Models.PaymentModel

@{
    Layout = null;
}

<div id="payModal" class="modal white">
    <div class="header teal lighten-1 white-text absolute-center">
        <h6> <i class="mdi-action-lock-outline"></i> This is a secure 128-bit ssl encrypted payment. You are safe!</h6>
    </div>
    <div class="container">
        <div class="row">
            <div class="input-field col s10">
                <input class="text-box single-line" id="Email" name="Email" type="email" value="">
                @Html.LabelFor(m => m.Email)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10">
                <input class="text-box single-line" id="CardNumber" name="CardNumber" type="text" value="" pattern="[0-9]{13,16}">
                @Html.LabelFor(m => m.CardNumber)
            </div>
            <div class="input-field col s2">
                @Html.EditorFor(m => m.SecurityCode)
                @Html.LabelFor(m => m.SecurityCode)
            </div>
        </div>
        <div class="row">

            <div class="input-field col s4">
                @Html.DropDownListFor(m => m.SelectedMonth, Model.ExpirationMonthDropdown)
            </div>

            <div class="input-field col s4">
                @Html.DropDownListFor(m => m.SelectedYear, Model.ExpirationYearDropdown)
            </div>
        </div>
        <div class="row">
            <div class="col s12 input-field">
                @Html.EditorFor(m => m.CardName)
                @Html.LabelFor(m => m.CardName)
            </div>
        </div>
    </div>
    <div class="header z-depth-2 light-blue-text absolute-center grey lighten-3">
        <h6>
            You will be charged 5€
        </h6>
    </div>
    <div id="progress" class="progress" style="margin-top: 0px; margin-bottom: 0px;">
        <div class="indeterminate"></div>
    </div>
    <div class="header white-text light-blue absolute-center z-depth-2" style="width:100%" onclick="processPayment()">
        <h6>Buy Now</h6>
    </div>
</div>

<script>
    $(function () {
        $('#progress').hide();
    });

    function processPayment() {

        $('#progress').show();
        setTimeout(function () {
            $('#progress').hide();
            $('#payModal').load('@Url.Action("GetPaymentResult","Feature")');
        }, 2000);
    }
</script>