﻿<h2>Work In Progress!</h2>

@using (Ajax.BeginForm("Vote","Feature", new AjaxOptions { HttpMethod = "POST" }))
{
    <input name="featureId" type="text" />
    <input name="isLike" value="true" type="checkbox" />
    <input class="btn" type="submit" />
}