﻿@model WareblocksWebUI.Models.Idea.IdeaViewModel

<div class="row">
    <div class="col s12 m4 l4">
        <div class="card">
            @Ajax.ActionLink(" ", "Create", "Idea", new { projectId = Model.ProjectId }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "$('#modal').openModal()", UpdateTargetId = "modal" }, new { @class = "card-content add-background" })
        </div>
    </div>
    @foreach (var feature in Model.Ideas)
    {
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://placehold.it/350x150">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">@feature.Name <i class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="@Url.Action("Index", "Feature" , new { featureId=feature.Key })">See more</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title activator grey-text text-darken-4">@feature.Name <i class="mdi-navigation-more-vert right"></i></span>
                    <p>@feature.Description</p>
                </div>
            </div>
        </div>
    }
</div>