﻿@model WareblocksWebUI.Models.Account.SubscribeBetaModel
@section OnBody{
    <section class="section-account">
        <div class="img-backdrop" style="background-image: url('@Url.Content("~/Content/images/background.png")');"></div>
        <div class="spacer"></div>
        <div class="card contain-sm" style="margin-top: -100px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4">
                                <img src="@Url.Content("~/Content/images/wblocks.svg")" />
                            </div>
                        </div>
                        <br />
                        <div id="wareform">
                            <p class="text-bold">Wareblocks is the first feature based marketplace which will not only ease the development process but also let users shape the product as their own.</p>
                            <p><span class="text-lg text-bold text-primary">Please, insert the details about your project and we will contact you as soon as the alpha begins</span></p>
                            @using (Ajax.BeginForm("BetaRegister", "Account", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "$('#wareform').hide();$('#okresult').show()" }, new { @class = "form floating-label" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "validate form-control" })
                                    @Html.LabelFor(m => m.Email)
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.ProjectName, new { @class = "validate form-control" })
                                    @Html.LabelFor(m => m.ProjectName)
                                </div>

                                <div class="form-group">
                                    @Html.TextAreaFor(m => m.ProjectDescription, 1, 1, new { @class = "validate form-control" })
                                    @Html.LabelFor(m => m.ProjectDescription)
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn btn-primary btn-raised" type="submit">Submit</button>
                                    </div>
                                </div>
                            }
                        </div>
                        <div id="okresult" style="display:none">
                            <p class="text-center"><span class="text-lg text-bold text-primary ">Thank you for registering!</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}