﻿@model WareblocksWebUI.Models.LoginViewModel
@section OnBody{
    <section class="section-account">
        <div class="img-backdrop" style="background-image: url('http://www.codecovers.eu/assets/img/modules/materialadmin/img16.jpg')"></div>
        <div class="spacer"></div>
        <div class="card contain-sm" style="margin-top: -100px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <br>
                        <span class="text-lg text-bold text-primary"></span>
                        <br><br>
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form floating-label" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "validate form-control" })
                                @Html.LabelFor(m => m.UserName)
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "validate form-control" })
                                @Html.LabelFor(m => m.Password)
                                <p class="help-block"><a href="#">Forgotten?</a></p>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <div class="checkbox checkbox-inline checkbox-styled">
                                        <label>
                                            <input type="checkbox"> <span>Remember me</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-primary btn-raised" type="submit">Login</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-sm-5 col-sm-offset-1 text-center">
                        <br><br>
                        <h3 class="text-light">
                            No account yet?
                        </h3>
                        <a class="btn btn-block btn-raised btn-primary" href="#">Sign up here</a>
                        <br><br>
                        <h3 class="text-light">
                            or
                        </h3>
                        <p>
                            <a href="#" class="btn btn-block btn-raised btn-info"><i class="fa fa-facebook pull-left"></i>Login with Facebook</a>
                        </p>
                        <p>
                            <a href="#" class="btn btn-block btn-raised btn-info"><i class="fa fa-twitter pull-left"></i>Login with Twitter</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}