﻿@model WareblocksWebUI.Models.RegisterViewModel

<div class="row card-panel">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "col s12" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary()

        <div class="row">
            <div class="input-field col s6">
                <i class="mdi-action-account-circle prefix"></i>
                @Html.TextBoxFor(m => m.UserName, new { @class = "validate" })
                @Html.LabelFor(m => m.UserName)
                @*<label for="icon_prefix">@Html.NameFor(m=>m.UserName)</label>*@
            </div>
            <div class="input-field col s6">
                <i class="mdi-action-perm-identity prefix"></i>
                @Html.TextBoxFor(m => m.Name, new { @class = "validate" })
                @Html.LabelFor(m => m.Name)
                @*<label for="icon_prefix">@Html.NameFor(m=>m.UserName)</label>*@
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="mdi-communication-vpn-key prefix"></i>
                @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                @Html.LabelFor(m => m.Password)
                @*<label for="icon_prefix">@Html.NameFor(m => m.UserName)</label>*@
            </div>
            <div class="input-field col s6">
                <i class="mdi-communication-vpn-key prefix"></i>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "validate" })
                @Html.LabelFor(m => m.ConfirmPassword)
                @*<label for="icon_prefix">@Html.NameFor(m => m.UserName)</label>*@
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
            </div>
            <div class="input-field col s6">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Submit
                    <i class="mdi-content-send right"></i>
                </button>
            </div>
        </div>
    }
</div>