﻿@model WareblocksWebUI.Models.Feature.FeatureModel

<div class="row">
    @using (Html.BeginForm("Create", "Feature", FormMethod.Post, new { @class = "col s12" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new feature</h4>
        <hr />
        @Html.ValidationSummary()

        <div class="row">
            <div class="input-field col s6">
                <i class="mdi-action-account-circle prefix"></i>
                @Html.TextBoxFor(m => m.Name, new { @class = "validate" })
                @Html.LabelFor(m => m.Name)
                @*<label for="icon_prefix">@Html.NameFor(m=>m.UserName)</label>*@
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="mdi-action-perm-identity prefix"></i>
                @Html.TextBoxFor(m => m.Description, new { @class = "validate" })
                @Html.LabelFor(m => m.Description)
                @*<label for="icon_prefix">@Html.NameFor(m=>m.UserName)</label>*@
            </div>
        </div>
        @Html.HiddenFor(m => m.ProjectId)
        <div class="row">
            <div class="input-field col s6">
            </div>
            <div class="input-field col s6">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Submit
                    <i class="mdi-content-send right"></i>
                </button>
            </div>
        </div>
    }
</div>