﻿@model WareblocksWebUI.Models.Feature.FeatureViewModel

<div class="row">

    @foreach (var feature in Model.Features)
    {

        <div class="col-md-2">
            @Ajax.ActionLink(" ", "Index", "Feature", new { featureId = feature.Key }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "$('#modal').modal()", UpdateTargetId = "modal" }, null)
            <div class="card style-primary">
                <div class="card-head">
                    <div class="tools">
                        <div class="btn-group">
                        </div>
                    </div>
                    <header><i class="fa fa-fw fa-tag"></i>@feature.Name</header>
                </div><!--end .card-head -->
                <div class="card-body style-default-bright">
                    <p>@feature.Description</p>
                </div><!--end .card-body -->
                <div class="card-actionbar style-default-bright">
                    <div class="card-actionbar-row">
                        <div class="col-md-2">
                            @Ajax.ActionLink("See More", "Index", "Feature", new { featureId = feature.Key }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "$('#modal').modal()", UpdateTargetId = "modal" }, new { @class = "btn btn-flat btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>