﻿@model WareblocksWebUI.Models.Feature.FeatureModel

@{
    ViewBag.Title = "Index";
}
@section PreContainer
{
    <div id="index-banner" class="parallax-container" style="background-image: url('../Content/images/wall.jpg')">
        <div class="section no-pad-bot">
            <div class="container">
            </div>
        </div>
    </div>
}

@Html.Action("GetPaymentPopup", "Feature")

<div id="mainNavigation">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#overview">Overview</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="mainContent" class="section no-pad-bot" style="margin-top: -5%;">
    <div class="row">
        <div class="col offset-l1 l10 s12 white z-depth-1">
            <article id="post-5" class="post-5 page type-page status-publish hentry">
                <div class="col l2 m4 s6">
                    <img src="http://imagizer.imageshack.us/a/img910/1590/vty43d.png" class="responsive-img z-depth-2" style="margin-top:10px">
                </div>
                <div class="entry-content">
                    <div class="col l10 m8 s12">
                        <span class="grey-text">
                            <h4 class="grey-text darken-2 light">@Model.Name</h4>
                            <h5 class="grey-text darken-2 light">Developed</h5>
                            <p>&nbsp;<a class="waves-effect waves-light btn teal" onclick="$('#payModal').openModal()"><i class="mdi-action-credit-card left"></i>Buy 5.00€</a></p>
                            <p class="grey-text darken-3">@Model.Description</p>
                            <!--<p class="grey-text darken-3">We are always adding new features, if you need something specific for your project please get in touch.</p>-->
                            <p><a class="waves-effect waves-light btn light-blue darken-3" href="#"><i class="mdi-image-photo-camera left"></i>Screenshots</a><a class="waves-effect waves-light btn light-green darken-1" style="float:right" onclick="onBack()"><i class="mdi-av-play-shopping-bag left"></i>Back to Project</a></p>
                        </span>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div>
        @Html.Action("GetCommentsForFeatre", "Comment", new { featureId = Model.Key })
    </div>
</div>

<script>
    $('#index-banner').show();
</script>