﻿@using WareblocksWebUI.Models
<div class="header teal lighten-1 white-text absolute-center">
    <h6>Transaction Completed!</h6>
</div>
<div class="container">
    <br />
    <div class="row absolute-center">
        <h5>Your token can now be activated!</h5>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row absolute-center">
        <h4>@((ShortGuid)Guid.NewGuid())</h4>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="header light-blue-text absolute-center grey lighten-3">
    <h6>
        Return to application
    </h6>
</div>
<div id="close" class="header white-text absolute-center light-blue">
    <h6>Close</h6>
</div>

<script>
    $('#close').on('click', function () {
        if ($('#payModal').closeModal) {
            $('#payModal').closeModal();
        }
    });
</script>