﻿@model WareblocksWebUI.Models.Vote.VoteModel

@using (Ajax.BeginForm("Vote", "Feature", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "$(this).find('i').addClass('active')" }, new { @class = "inline" }))
{
    <input name="featureId" type="hidden" value="@Model.ExternalId" />
    <input name="isLike" value="true" type="hidden" />
    <i class="mdi-action-thumb-up small @(Model.Key != Guid.Empty && Model.IsLike ? "active" : "")  " onclick="$(this).submit()"></i>
}

@using (Ajax.BeginForm("Vote", "Feature", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "$(this).find('i').addClass('active')" }, new { @class = "inline" }))
{
    <input name="featureId" type="hidden" value="@Model.ExternalId" />
    <input name="isLike" value="false" type="hidden" />
    <i class="mdi-action-thumb-down small  @(Model.Key != Guid.Empty && !Model.IsLike ? "active" : "") " onclick="$(this).submit()"></i>
}