﻿<div class="col s12 m4 l4">
    <div class="card ">
        @Ajax.ActionLink(" ", "Create", "Feature", new { projectId = Model.ProjectId }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "$('#modal').openModal()", UpdateTargetId = "modal" }, new { @class = "card-content add-background" })
    </div>
</div>