﻿@model WareblocksWebUI.Models.Project.ProjectViewModel

<section>
    <div class="section-body style-default-dark force-padding text-shadow">
        <div class="img-backdrop" style="background-size:cover;background-image: url('http://fraglider.pt/imagensup/csgo2.jpg')"></div>
        <div class="overlay overlay-shade-top stick-top-left height-3"></div>
        <div class="row">
            <div class="col-md-3 col-xs-5">
                <img class="img-circle border-white border-xl img-responsive " style="width:200px" src="http://gazettereview.com/wp-content/uploads/2015/04/Valve.png" alt="">
                <h3>Counter-Strike Global Ofensive<br><small>Valve Corporation</small></h3>
            </div><!--end .col -->
            <div class="col-md-9 col-xs-7">
                <div class="width-3 text-center pull-right">
                    <strong class="text-xl">643</strong><br>
                    <span class="text-light opacity-75">followers</span>
                </div>
                <div class="width-3 text-center pull-right">
                    <strong class="text-xl">108</strong><br>
                    <span class="text-light opacity-75">following</span>
                </div>
            </div><!--end .col -->
        </div><!--end .row -->
        <div class="overlay overlay-shade-bottom stick-bottom-left force-padding text-right">
            <a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Contact me"><i class="fa fa-envelope"></i></a>
            <a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Follow me"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Personal info"><i class="fa fa-facebook"></i></a>
        </div>
    </div><!--end .section-body -->
</section>
<div>
    <div class="section-body no-margin">
        <div class="row" style="margin-top:-25px">
            <div class="col-md-6 col-md-offset-3">
                <div class="card">
                    <ul class="nav nav-tabs tabs-center" data-toggle="tabs">
                        <li class="active"><a href="#overview">Overview</a></li>
                        <li><a href="#timeline">Timeline</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#ideas">Ideas</a></li>
                        <li><a href="#issues">Issues</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="overview"></div>
            <div class="tab-pane" id="features">
                @Html.Action("FeaturesByProject", "Feature", new { projectId = Model.Key })
            </div>
            <div class="tab-pane" id="ideas">
                @Html.Action("IdeasByProject", "Idea", new { projectId = Model.Key })
            </div>
            <div class="tab-pane" id="issues"></div>
            <div class="tab-pane" id="timeline">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN MESSAGE ACTIVITY -->
                        <div class="tab-pane" id="activity">
                            <ul class="timeline timeline-hairline">
                                <li class="timeline-inverted">
                                    <div class="timeline-circ circ-xl style-primary"><i class="md md-event"></i></div>
                                    <div class="timeline-entry">
                                        <div class="card">
                                            <div class="card-body small-padding">
                                                <span class="text-medium">Received a <a class="text-primary" href="http://www.codecovers.eu/materialadmin/mail/inbox">message</a> from <span class="text-primary">Ann Lauren</span></span><br>
                                                <span class="opacity-50">
                                                    Saturday, Oktober 18, 2014
                                                </span>
                                            </div>
                                        </div>
                                    </div><!--end .timeline-entry -->
                                </li>
                                <li>
                                    <div class="timeline-circ circ-xl style-primary-dark"><i class="md md-access-time"></i></div>
                                    <div class="timeline-entry">
                                        <div class="card">
                                            <div class="card-body small-padding">
                                                <p>
                                                    <span class="text-medium">User login at <span class="text-primary">8:15 pm</span></span><br>
                                                    <span class="opacity-50">
                                                        Saturday, August 2, 2014
                                                    </span>
                                                </p>
                                                Check out my new location.
                                            </div>
                                        </div>
                                    </div><!--end .timeline-entry -->
                                </li>
                                <li>
                                    <div class="timeline-circ circ-xl style-primary"><i class="md md-location-on"></i></div>
                                    <div class="timeline-entry">
                                        <div class="card">
                                            <div class="card-body small-padding">
                                                <img class="img-circle img-responsive pull-left width-1" src="http://www.codecovers.eu/assets/img/modules/materialadmin/avatar2.jpg?1422538624" alt="">
                                                <span class="text-medium">Meeting in the <span class="text-primary">conference room</span></span><br>
                                                <span class="opacity-50">
                                                    Saturday, Juli 29, 2014
                                                </span>
                                            </div>
                                            <div class="card-body">
                                                <p><em>Walked all the way home...</em></p>
                                                <img class="img-responsive" src="http://www.codecovers.eu/assets/img/modules/materialadmin/img14.jpg?1422538632" alt="">
                                            </div>
                                        </div>
                                    </div><!--end .timeline-entry -->
                                </li>
                            </ul>
                        </div><!--end #activity -->
                    </div><!--end .col -->
                    <!-- END MESSAGE ACTIVITY -->
                </div><!--end .row -->
            </div>
        </div>
        <div>
            @Html.Action("GetCommentsForProject", "Comment", new { projectId = Model.Key })
        </div>
    </div><!--end .section-body -->
</div>